@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600;700&display=swap");
@import "./styles/base.css";
@import "./styles/home.css";
@import "./styles/lesson.css";
@import "./styles/exercises.css";
