@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: #fafafa;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #fafafa;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  width: 100%;
}

button {
  font-family: inherit;
}
