@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: #fafafa;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #fafafa;
}

#root {
  min-height: 100vh;
}

button {
  font-family: inherit;
}

.toastui-editor-defaultUI,
.toastui-editor-main,
.toastui-editor-md-container,
.toastui-editor-ww-container {
  height: auto !important;
}

.toastui-editor-contents {
  min-height: 180px;
}
